footer.footer {
	background-color: $white;
	@include padding('top', 'large');
	@include padding('bottom', 'normal');

	.page:not(.home) &,
	.single-post & {
		background-color: $lightgray;
	}

	.copyright {
		@include text;
		color: $lightpurple;
		text-align: center;

		a {
			display: none;
		}
	}

	#sidebar {
		text-align: center;

		li {
			list-style-type: none;
			margin-left: 0;
		}
	}

	.widget {
		h2 {
			margin-bottom: 0;
			color: $purple;
		}
	}

	.widget_text {
		p {
			text-align: center;
			color: $purple;
		}
	}

	#mc_embed_signup {
		#mc_embed_signup_scroll {
			@include flex;
			justify-content: center;
		}

		.mc-field-group {
			width: 40%;
		}

		label {
			display: none;
		}

		input[type=email] {
			height: rem(45);
		    border: rem(1) solid $lightpurple;
		    border-radius: rem(5);
		    background-color: $white;
		    padding: rem(10);
			width: 100%;
    		display: block;
		}

		input[type=submit] {
			border-radius: 5px;
		    background-color: $purple;
		    color: $white;
		    position: relative;
		    @include text;
		    border: none;
		    cursor: pointer;
		    text-transform: uppercase;
			padding: rem(10);
			width: rem(150);
			@include margin('left');
		}

		@include media($mobile) {
			.mc-field-group {
				width: 100%;
			}

			input[type=email] {
				@include margin('bottom');
			}
		}
	}

	.widget_nav_menu {
		@include margin('top', 'normal');

		li {
			display: inline-block;
			padding: 0 rem(4);
		}

		a {
			color: $lightpurple;
		}

		@include media($mobile) {
			@include margin('top', 'large');
		}
	}
}
