header.header {
	width: 100%;

	.inner-grid {
		@include flex;
		@include padding('top', 'normal');
		@include padding('bottom', 'large');
		justify-content: flex-start;

		@include media($tablet) {

		}
	}

	#logo {
		.wp-custom-header {
			height: rem(30);
			width: auto;

			img {
				width: auto;
				height: 100%;
			}
		}

		@include media($mobile) {
			overflow: hidden;
		}
	}

	#main-nav {
		@include padding('left');

		ul {
			@include flex;
			justify-content: flex-end;
			padding-bottom: 0;
		}

		li {
			margin-left: rem(30);
			list-style-type: none;
		}

		a {
			@include text;
			color: $lightpurple;
		}

		.button {
			position: absolute;
			right: 0;
		}

		.sec-nav {
			display: none;
		}

		@include media($tablet) {
			display: none;
			padding-left: 0;

			li {
				margin-left: 0;
			}
		}
	}

	.menu-open & {
		@include fill-container;
		position: fixed;
		left: auto;
		width: 80%;
		background-color: $black;
		z-index: 100000;
		@include padding('top-bottom');
		@include padding('left-right');

		#logo {
			display: none;
		}

		#main-nav {
			display: block;

			ul,
			.menu {
				flex-direction: column;
				align-items: flex-start;
			}

			#menu-main-navigation {
				margin-top: rem(80);
			}

			.menu-item {
				@include margin('bottom', 'normal');

				a {
					color: $white;
					border: none;
					@include title('normal');
				}

				&.button {
					position: relative;
				}
			}

			.sec-nav {
				display: none;

				.menu-item {
					margin-bottom: 0;

					a {
						@include text;
					}
				}

				.widget_media_image {
					display: none;
				}

				.widget_nav_menu {
					margin-left: 0;
				}

				.widget_nav_menu {
					.menu-item {
						display: inline-block;
						margin: 0 rem(10);
					}

					#menu-footer {
						@include margin('bottom', 'small');
					}

					#menu-social-links {
						padding: 0;
						flex-direction: row;
						margin-top: rem(40);

						.menu-item {
							margin-left: 0;

							a {
								font-size: 0;

								&:before {
									@include text('large');
								}
							}

							&.facebook a {
								@include icons('\ea90', 'icomoon');
							}

							&.instagram a {
								@include icons('\ea92', 'icomoon');
							}

							&.twitter a {
								@include icons('\ea96', 'icomoon');
							}
						}
					}
				}
			}
		}
	}

	.mobile-menu {
		display: none;

		@include media($tablet) {
			position: fixed;
			display: block;
			z-index: 99;
			top: rem(15);
			right: rem(20);

			.burger {
				@include text;
				background-color: $purple;
				border-radius: rem(5);
				color: $white;
				text-transform: uppercase;
				padding: rem(5) rem(12);

				.menu-open & {
					color: $purple;
					background-color: $white;
				}
			}
		}
	}

	.back-menu {
		display: none;
	}
}
