.latest-posts {
	.content {
		@include flex;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
	}

	.post {
		width: 31%;
		@include margin('bottom', 'normal');

		@include media($mobile) {
			width: 100%;
			@include padding('bottom', 'normal');
		}
	}

	img {
		max-width: 100%;
		height: auto;
		border-radius: rem(5);
	}

	.text {
		margin-top: rem(8);
		max-width: 90%;
	}

	.categories {
		 li {
			margin-left: 0;
			list-style-type: none;

			a {
				@include text('small');
				color: $orange;
			}
		}

		@include media($mobile) {
			@include padding('bottom', 'small');
		}
	}

	.title {
		h3 {
			@include title('small');
			color: $purple;
			margin-bottom: 0;
			padding-bottom: rem(8);
		}
	}

	.excerpt p {
		@include text('small');
		color: $lightpurple;
	}
}
