.wp-block-group.media {
	@include padding('top', 'small');
	@include padding('bottom', 'large');
	background-color: $lightgray;

	p {
		@include text('normal');
	}

	.wp-block-columns {
		justify-content: space-between;
	}

	.wp-block-column {
		flex-basis: auto;
		flex-grow: inherit;
	}
}
