.related {
	@include margin('bottom', 'large');

	.inner-grid {
		margin-bottom: 0 !important;
	}

	.latest-posts {
		@include media($mobile) {
			padding: 0 rem(20);
		}
	}

	a {
		text-decoration: none !important;
	}

	.featured-image {
		margin-bottom: 0 !important;
	}

	.excerpt {
		display: none;
	}
}
