/* Fonts */
// @import '../fonts/icomoon/style.css';

/* Fonts */
@font-face {
    font-family: EuclidSquare;
    src: url('../fonts/euclidsquare-medium-webfont.eot');
    src: url('../fonts/euclidsquare-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/euclidsquare-medium-webfont.woff2') format('woff2'),
         url('../fonts/euclidsquare-medium-webfont.woff') format('woff'),
         url('../fonts/euclidsquare-medium-webfont.ttf') format('truetype'),
         url('../fonts/euclidsquare-medium-webfont.svg#euclidsquare-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: EuclidSquare;
    src: url('../fonts/euclidsquare-semibold-webfont.eot');
    src: url('../fonts/euclidsquare-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/euclidsquare-semibold-webfont.woff2') format('woff2'),
         url('../fonts/euclidsquare-semibold-webfont.woff') format('woff'),
         url('../fonts/euclidsquare-semibold-webfont.ttf') format('truetype'),
         url('../fonts/euclidsquare-semibold-webfont.svg#euclidsquare-semibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: EuclidSquare;
    src: url('../fonts/euclidsquare-regular-webfont.eot');
    src: url('../fonts/euclidsquare-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/euclidsquare-regular-webfont.woff2') format('woff2'),
         url('../fonts/euclidsquare-regular-webfont.woff') format('woff'),
         url('../fonts/euclidsquare-regular-webfont.ttf') format('truetype'),
         url('../fonts/euclidsquare-regular-webfont.svg#euclidsquare-light') format('svg');
    font-weight: lighter;
    font-style: normal;
}
