/* Color palette */
$black:       #000000;
$orange:      #ff5804;
$lightorange: #ff7011;
$purple:      #321e4c;
$lightpurple: #5f4973;
$lightgray:   #f9f9f9;
$gray:        #efedf1;
$white:       #FFFFFF;

/* Grid */
$grid-width: 67.5rem;

/* Breakpoints */
$mobile:  '(max-width: 768px)';
$tablet:  '(max-width: 1024px)';
$desktop: '(max-width: 1600px)';
