@mixin media($media) {
    @media only screen and #{$media} {
        @content;
    }
}

@mixin screen-reader-text() {
    position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}

@function rem($pixels, $context: 16) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $pixels / $context * 1rem;
}

@mixin flex() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

@mixin fill-container() {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@mixin grid() {
    position: relative;
    max-width: $grid-width;
    padding: 0;
    margin: 0 auto;

    @include media($tablet) {
        max-width: 100%;
        padding-left: rem(20);
        padding-right: rem(20);
    }
}

@mixin icons($symbol, $set: 'icons', $place: 'before', $color: '', $margin: '0 12px') {
	&::#{$place} {
		font-family: $set;
		content: $symbol;
		margin: unquote($margin);

		@if $color != '' {
			color: $color;
		}
	}
}
