@mixin margin($area: 'bottom', $size: 'small') {
	@if ($area == 'bottom') {
		@if ($size == 'small') {
			margin-bottom: rem(20);

			@include media($mobile) {
				margin-bottom: rem(8);
			}
		}

		@if ($size == 'normal') {
			margin-bottom: rem(40);

			@include media($mobile) {
				margin-bottom: rem(15);
			}
		}

		@if ($size == 'large') {
			margin-bottom: rem(80);

			@include media($mobile) {
				margin-bottom: rem(30);
			}
		}

		@if ($size == 'xlarge') {
			margin-bottom: rem(130);

			@include media($mobile) {
				margin-bottom: rem(50);
			}
		}
	}

	@if ($area == 'top') {
		@if ($size == 'small') {
			margin-top: rem(20);

			@include media($mobile) {
				margin-top: rem(8);
			}
		}

		@if ($size == 'normal') {
			margin-top: rem(40);

			@include media($mobile) {
				margin-top: rem(15);
			}
		}

		@if ($size == 'large') {
			margin-top: rem(80);

			@include media($mobile) {
				margin-top: rem(30);
			}
		}

		@if ($size == 'xlarge') {
			margin-top: rem(130);

			@include media($mobile) {
				margin-top: rem(50);
			}
		}
	}

	@if ($area == 'left') {
		@if ($size == 'small') {
			margin-left: rem(20);

			@include media($mobile) {
				margin-left: rem(8);
			}
		}

		@if ($size == 'normal') {
			margin-left: rem(40);

			@include media($mobile) {
				margin-left: rem(15);
			}
		}

		@if ($size == 'large') {
			margin-left: rem(80);

			@include media($mobile) {
				margin-left: rem(30);
			}
		}
	}

	@if ($area == 'right') {
		@if ($size == 'small') {
			margin-right: rem(20);

			@include media($mobile) {
				margin-right: rem(8);
			}
		}

		@if ($size == 'normal') {
			margin-right: rem(40);

			@include media($mobile) {
				margin-right: rem(15);
			}
		}

		@if ($size == 'large') {
			margin-right: rem(80);

			@include media($mobile) {
				margin-right: rem(30);
			}
		}
	}
}

@mixin padding($area: 'top-bottom', $size: 'normal') {
	@if ($area == 'top-bottom') {
		@if ($size == 'small') {
			padding-top: rem(20);
			padding-bottom: rem(20);

			@include media($mobile) {
				padding-top: rem(8);
				padding-bottom: rem(8);
			}
		}

		@if ($size == 'normal') {
			padding-top: rem(40);
			padding-bottom: rem(40);

			@include media($mobile) {
				padding-top: rem(15);
				padding-bottom: rem(15);
			}
		}

		@if ($size == 'large') {
			padding-top: rem(80);
			padding-bottom: rem(80);

			@include media($mobile) {
				padding-top: rem(30);
				padding-bottom: rem(30);
			}
		}

		@if ($size == 'xlarge') {
			padding-top: rem(130);
			padding-bottom: rem(130);

			@include media($mobile) {
				padding-top: rem(50);
				padding-bottom: rem(50);
			}
		}
	}

	@if ($area == 'top') {
		@if ($size == 'small') {
			padding-top: rem(20);

			@include media($mobile) {
				padding-top: rem(8);
			}
		}

		@if ($size == 'normal') {
			padding-top: rem(40);

			@include media($mobile) {
				padding-top: rem(15);
			}
		}

		@if ($size == 'large') {
			padding-top: rem(80);

			@include media($mobile) {
				padding-top: rem(30);
			}
		}

		@if ($size == 'xlarge') {
			padding-top: rem(130);

			@include media($mobile) {
				padding-top: rem(50);
			}
		}
	}

	@if ($area == 'bottom') {
		@if ($size == 'small') {
			padding-bottom: rem(20);

			@include media($mobile) {
				padding-bottom: rem(8);
			}
		}

		@if ($size == 'normal') {
			padding-bottom: rem(40);

			@include media($mobile) {
				padding-bottom: rem(15);
			}
		}

		@if ($size == 'large') {
			padding-bottom: rem(80);

			@include media($mobile) {
				padding-bottom: rem(30);
			}
		}

		@if ($size == 'xlarge') {
			padding-bottom: rem(130);

			@include media($mobile) {
				padding-bottom: rem(50);
			}
		}
	}

	@if ($area == 'left-right') {
		@if ($size == 'small') {
			padding-left: rem(20);
			padding-right: rem(20);

			@include media($mobile) {
				padding-left: rem(8);
				padding-right: rem(8);
			}
		}

		@if ($size == 'normal') {
			padding-left: rem(40);
			padding-right: rem(40);

			@include media($mobile) {
				padding-left: rem(15);
				padding-right: rem(15);
			}
		}

		@if ($size == 'large') {
			padding-left: rem(80);
			padding-right: rem(80);

			@include media($mobile) {
				padding-left: rem(30);
				padding-right: rem(30);
			}
		}

		@if ($size == 'xlarge') {
			padding-left: rem(130);
			padding-right: rem(130);

			@include media($mobile) {
				padding-left: rem(50);
				padding-right: rem(50);
			}
		}
	}

	@if ($area == 'left') {
		@if ($size == 'small') {
			padding-left: rem(20);

			@include media($mobile) {
				padding-left: rem(8);
			}
		}

		@if ($size == 'normal') {
			padding-left: rem(40);

			@include media($mobile) {
				padding-left: rem(15);
			}
		}

		@if ($size == 'large') {
			padding-left: rem(80);

			@include media($mobile) {
				padding-left: rem(30);
			}
		}
	}

	@if ($area == 'right') {
		@if ($size == 'small') {
			padding-right: rem(20);

			@include media($mobile) {
				padding-right: rem(8);
			}
		}

		@if ($size == 'normal') {
			padding-right: rem(40);

			@include media($mobile) {
				padding-right: rem(15);
			}
		}

		@if ($size == 'large') {
			padding-right: rem(80);

			@include media($mobile) {
				padding-right: rem(30);
			}
		}
	}
}

@mixin button($size: 'normal', $color: 'yellow') {
	color: $orange;
	font-family: 'maisonneue-bold';
	text-decoration: none;
	transition: background-color 0.2s linear;
	letter-spacing: 0.3rem;
	text-transform: uppercase;

	@if ($size == 'small') {
		font-size: rem(16);
		padding: rem(8) rem(24);
		border-radius: rem(5);
		letter-spacing: 0.2rem;

		@include media($mobile) {
			font-size: rem(15);
			padding: rem(6) rem(18);
		}
 	}

	@if ($size == 'normal') {
		font-size: rem(20);
		padding: rem(16) rem(45) rem(14);
		border-radius: rem(5);
		@include margin('bottom', 'small');

		@include media($mobile) {
			font-size: rem(18);
			padding: rem(8) rem(22);
		}
	}

	@if ($size == 'large') {
		font-size: rem(22);
		padding: rem(18) rem(55) rem(15);
		border-radius: rem(30);
		@include margin('bottom', 'normal');
		text-transform: uppercase;

		@include media($mobile) {
			font-size: rem(16);
		}
	}

	@if ($size == 'link') {
		display: inline-block;
		height: rem(30);
		width: rem(30);
		background-color: $white;
		color: $black;
		text-align: center;
		line-height: rem(30);
		margin-right: rem(8);
		border-radius: 50%;
	}

	@if ($color == 'white') {
		background-color: $white;
		color: $black;

		&:hover {
			background-color: $black;
			color: $white;
		}
	}

	@if ($color == 'gray') {
		background-color: $lightgray;
		color: $black;

		&:hover {
			background-color: $darkgray;
			color: $white;
		}
	}

	@if ($color == 'yellow') {
		background-color: $orange;
		color: $black;

		&:hover {
			background-color: $black;
			color: $white;
		}
	}

	@if ($color == 'black') {
		background-color: $black;
		color: $white;

		&:hover {
			background-color: $black;
			color: $orange;
		}
	}
}
