@mixin title($size: 'normal') {
	font-family: EuclidSquare;
	font-weight: bold;

	strong, b {
		font-weight: 800;
	}

	@if ($size == 'small') {
		font-size: rem(22);
		line-height: rem(28);

		@include media($mobile) {
			font-size: rem(20);
			line-height: rem(26);
		}
	}

	@if ($size == 'normal') {
		font-size: rem(28);
		margin-bottom: rem(20);
		line-height: rem(34);

		@include media($mobile) {
			font-size: rem(24);
			margin-bottom: rem(10);
			line-height: rem(30);
		}
	}

	@if ($size == 'large') {
		font-size: rem(40);
		line-height: rem(46);

		@include media($mobile) {
			font-size: rem(25);
			line-height: rem(35);
		}
	}

	@if ($size == 'xlarge') {
		font-size: rem(55);
		line-height: rem(65);

		@include media($mobile) {
			font-size: rem(40);
			line-height: rem(45);
		}
	}
}

@mixin text($size: 'normal') {
	font-family: EuclidSquare;
	font-weight: normal;

	@if ($size == 'small') {
		font-size: rem(16);
		line-height: rem(24);

		@include media($mobile) {
			font-size: rem(14);
			line-height: rem(22);
		}
	}

	@if ($size == 'normal') {
		font-size: rem(18);
		line-height: rem(28);

		@include media($mobile) {
			font-size: rem(15);
			line-height: rem(24);
		}
	}

	@if ($size == 'large') {
		font-size: rem(24);
		line-height: rem(32);

		@include media($mobile) {
			font-size: rem(18);
			line-height: rem(30);
		}
	}

	@if ($size == 'xlarge') {
		font-size: rem(28);
		line-height: rem(36);

		@include media($mobile) {
			font-size: rem(22);
			line-height: rem(34);
		}
	}
}
