.home {
	background-color: $lightgray;

	main.main {
		background-color: $lightgray;

		.inner-grid {
			@include margin('bottom', 'normal');
		}

		@include media($mobile) {
			@include margin('top', 'large');
		}
	}

	h2 {
		color: $purple;
	}
}
