body {
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: $white;

    @include media($desktop) {
        padding: 0;
    }
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

main.main {
    background-color: $white;
}

a {
    color: $black;
    text-decoration: none;
}

h1, h2, h3, h4 {
    @include title;
	@include padding('bottom', 'small');
}

p {
    @include text;
	@include padding('bottom', 'small');
    text-align: justify;
}

ol {
    @include margin('left');

    li {
        list-style-type: decimal;
        @include title('small');
        @include margin('bottom');
        color: $orange;
        font-weight: 800;
    }
}

ul {
    padding-bottom: rem(15);
}

li {
    @include text;
    list-style-type: disc;
    margin-left: rem(20);
}

strong, b {
    font-weight: 600;
}

hr {
    border-bottom: rem(1) solid $orange;
    @include margin('top', 'large');
    @include margin('bottom', 'large');
}

sub {
    vertical-align: sub;
    font-size: rem(11);
}

.inner-grid,
[class*=inner-container] {
	@include grid;
}

.wp-block-columns.wp-block-columns {
    margin: 0;
}

.wp-block-button {
    .wp-block-button__link {
		@include button;
    }
}

.screen-reader-text{
	@include screen-reader-text();

	h1{
		@include screen-reader-text();
	}
}

.hide-mobile {
    @include media($mobile) {
        display: none;
    }
}

.show-mobile {
    @include media($mobile) {
        display: block;
    }
}

#wpadminbar {
    @include media($tablet) {
        display: none;
    }
}
