.single-post {
	main.main {
		.inner-grid {
			@include margin('bottom', 'large');
		}
	}

	h1 {
		@include title('large');
		color: $purple;
		text-align: center;
		margin-bottom: 0;
		padding-bottom: rem(10);
	}

	.date {
		text-align: center;
		@include text;
		color: $lightpurple;
		@include margin('bottom', 'normal');
	}

	.featured-image {
		max-width: 100%;
		@include margin('bottom', 'normal');
	}

	.content {
		color: $purple;
		padding-left: rem(190);
		padding-right: rem(190);

		@include media($mobile) {
			padding-left: 0;
			padding-right: 0;
		}

		a {
			text-decoration: underline;
			-webkit-text-decoration-skip: ink;
  			text-decoration-skip: ink;
			text-decoration-thickness: rem(2);
			text-decoration-line: underline;
    		text-underline-offset: rem(1);
			color: $purple;
			transition: color 0.2s linear;

			&:hover {
				color: $orange;
			}
		}
	}
}
